MYSQL_URL=jdbc:mysql://你的火山引擎MySQL地址:3306/user_demo?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
MYSQL_USERNAME=你的用户名
MYSQL_PASSWORD=你的密码
FRONTEND_ORIGIN=http://localhost:5173
